[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
ipython = "*"
flake8 = "*"
black = "*"
pyyaml = "*"
yamllint = "*"

[dev-packages]

[requires]
python_version = "3.11"
